* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}


@font-face {
  font-family: 'Lato', sans-serif;
}


body {
	font-family: 'Lato', sans-serif;
	margin-left: auto;
	margin-right: auto;
	background-color: #E3EDFA;
}

a{
	color: #FFFFFF;
	text-decoration: none;
	z-index: 2;
}

header {
	position: sticky;
	top: 0;
	left: 0;
	transition: 0.5s;
	width: 100%;
	height: 70px;
	padding-top: 20px;
	padding-bottom: 20px;
	z-index: 200;
	background: rgba(0,0,0,1);
background: -moz-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(2,51,77,1) 100%);
background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(100%, rgba(2,51,77,1)));
background: -webkit-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(2,51,77,1) 100%);
background: -o-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(2,51,77,1) 100%);
background: -ms-linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(2,51,77,1) 100%);
background: linear-gradient(45deg, rgba(0,0,0,1) 0%, rgba(2,51,77,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#02334d', GradientType=1 );
}
nav {
	width: 1080px;
	height: 70px;
	margin-left: auto;
	margin-right: auto;
}

nav ul{
	height: 40px;
}

nav li {
	display: inline;
}

nav li a:hover {
	color: #FFFFFF;
}

header.mini{
	height: 45px;
	background: #000000;
	padding-top: 5px;
	padding-bottom: 5px;
}

header.mini .botonera2{
	padding-top: 5px;
}

.botonera2 {
	width: 600px;
	float: right;
	text-align: right;
  padding-left: 30px;
  font-size: 1.05em;
  text-decoration: none;
}

.botonera {
text-align: right;
  padding-left: 30px;
  font-size: 1.05em;
  text-decoration: none;
}

.botones {
	height: 30px;
	bottom: 87px;
	cursor: pointer;
	color: #cadffa;
	margin-right: 50px;
	margin-left: 0px;
}

.redes {
  float: left;
  height: 35px;
}

.redes a{
	width: 35px;
	height: 35px;
}

.red {
  margin-left: 5px;
  margin-right: 5px;
  width: 26px;
  height: auto;
  padding-right: 3px;
  vertical-align: middle;
  opacity: 0.7;
}

.red:hover {
	opacity: 1;
	width: 26px;
	height: auto;
}

.logo {
	display: inline;
	font-family: 'Pacifico', cursive;
	color: #FFFFFF;
	text-align: left;
}

/* ANIMACION BOTONERA */
.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.scale-up-tr {
	-webkit-animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	        animation: scale-up-tr 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}
@keyframes scale-up-tr {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    -webkit-transform-origin: 100% 0%;
            transform-origin: 100% 0%;
  }
}


.form {
	width: 250px;
	height: 40px;
	background-color: rgba(255,255,255,0.2);
	color: #000000;
	padding-left: 20px;
}

section{
	min-height: 600px;
	height: auto;
	width: 80%;
	background-color: #AFCFFA;
	margin-right: auto;
	margin-left: auto;
	position: relative;
	padding-top: 20px;
}

article {
	list-style: none;
}
.todo {
	margin-left: auto;
	margin-right: auto;
	padding-top: 40px;
}

#floating {
	width: 800px;
	height: 500px;
	margin-top: 15px;
	margin-bottom: 60px;
	margin-right: auto;
	margin-left: auto;
	-webkit-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 6px 15px 2px rgba(0,0,0,0.75);
}

#lefty {
	width: 45%;
	height: 100%;
	background: rgba(153,195,251,1);
	background: -moz-linear-gradient(45deg, rgba(153,195,251,1) 0%, rgba(202,223,250,1) 50%, rgba(227,237,250,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(153,195,251,1)), color-stop(50%, rgba(202,223,250,1)), color-stop(100%, rgba(227,237,250,1)));
	background: -webkit-linear-gradient(45deg, rgba(153,195,251,1) 0%, rgba(202,223,250,1) 50%, rgba(227,237,250,1) 100%);
	background: -o-linear-gradient(45deg, rgba(153,195,251,1) 0%, rgba(202,223,250,1) 50%, rgba(227,237,250,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(153,195,251,1) 0%, rgba(202,223,250,1) 50%, rgba(227,237,250,1) 100%);
	background: linear-gradient(45deg, rgba(153,195,251,1) 0%, rgba(202,223,250,1) 50%, rgba(227,237,250,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#99c3fb', endColorstr='#e3edfa', GradientType=1 );
	float: left;
	text-align: center;
	color: #000000;
	font-size: 1.15em;
}

.cv {
	width: 60%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 20px;
}

.name {
	width: 45%;
	height: auto;
	padding-bottom: 15px;
}

#lefty p{
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: 0.85em;
	font-weight: 700;
}

.white {
	background-color: #E3EDFA;
	height: 50px;
	width: 100%;
	margin-top: 20px;
	padding-top: 10px;
	text-align: center;
}

#titulo {
	font-size: 3em;
	text-align: left;
	padding-left: 10%;
	padding-bottom: 5px;
}

.subtitle {
	font-size: 1.1em;
	font-weight: 700;
	padding-bottom: 20px;
	padding-left: 10%;
}

#descargas {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

.boton {
	width: 50px;
	height: 30px;
	padding-top: 9px;
	padding-bottom: 9px;
	padding-left: 20px;
	padding-right: 20px;
	background-color: #6FC0E8;
	border-radius: 64px 64px 64px 64px;
	-moz-border-radius: 64px 64px 64px 64px;
	-webkit-border-radius: 64px 64px 64px 64px;
	border: 0px solid #000000;
	font-weight: 700;
	margin-right: 20px;
}
.boton:hover {
	background-color: #FFFFFF;
	color: #6FC0E8;
	border-radius: 64px 64px 64px 64px;
	-moz-border-radius: 64px 64px 64px 64px;
	-webkit-border-radius: 64px 64px 64px 64px;
	border: 2px solid #6FC0E8;
	padding-left: 18px;
	padding-right: 18px;
}

.boton2 {
	width: 50px;
	height: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
	border-color: #000000;
	border-radius: 64px 64px 64px 64px;
	-moz-border-radius: 64px 64px 64px 64px;
	-webkit-border-radius: 64px 64px 64px 64px;
	border: 3px solid #000000;
	font-weight: 500;
	color: #000000;
	margin-right: 10px;
}

.boton2:hover {
	color: #68B3D9;
	border-radius: 64px 64px 64px 64px;
	-moz-border-radius: 64px 64px 64px 64px;
	-webkit-border-radius: 64px 64px 64px 64px;
	border: 3px solid #6FC0E8;
	width: 50px;
	height: 30px;
	padding-top: 8px;
	padding-bottom: 8px;
	padding-left: 20px;
	padding-right: 20px;
}

#right2 {
	width: 55%;
	height: 100%;
	background-color: #E3EDFA;
	float: right;
	text-align: left;
	color: #000000;
	padding-top: 40px;
	font-size: 1.15em;
}

.form2 {
	background-color: #E3EDFA;
	color: #000000;
	padding-left: 20px;
}

#resumen {
	padding-top: 20px;
	padding-left: 10%;
	padding-right: 50px;
	text-align: justify;
	font-size: 0.95em;
}
/* ANIMACION SLIDE */

.slide-right {
	-webkit-animation: slide-right 0.9s cubic-bezier(0.455, 0.30, 0.515, 0.955) both;
	        animation: slide-right 0.9s cubic-bezier(0.455, 0.30, 0.515, 0.955) both;
}

@-webkit-keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
            opacity: 0;
  }
   50% {
            opacity: 0.4;
  }
  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
             opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%x);
            opacity: 0;
  }
  70% {
            opacity: 0.4;
  }

  100% {
    -webkit-transform: translateX(0px);
            transform: translateX(0px);
             opacity: 1;
  }
}

/* SECCION SERVICIOS (SKILLS APPS) */
#principal {
	text-align: center;
	font-size: 1.5em;
}

.skills {
	width: 50%;
	height: auto;
	float: left;
	display: inline-block;
	padding-left: 8%;
	padding-right: 8%;
	background-color: #AFCFFA;
	padding-bottom: 15px;
}

.skills h1 {
	margin-bottom: 15px;
	margin-top: 20px;
}

.skills p{
	margin-top: 10px;
}

.bar {
	background-color: rgba(255,255,255,0.4);
	display: block;
	height: 6px;
	border-radius: 3px;
	overflow: hidden;
	margin-top: 10px;
	margin-bottom: 10px;
}

.bar span{
	height: 6px;
	float: left;
	background: rgba(99,195,255,1);
	background: -moz-linear-gradient(left, rgba(99,195,255,1) 0%, rgba(70,8,74,1) 100%);
	background: -webkit-gradient(left top, right top, color-stop(0%, rgba(99,195,255,1)), color-stop(100%, rgba(70,8,74,1)));
	background: -webkit-linear-gradient(left, rgba(99,195,255,1) 0%, rgba(70,8,74,1) 100%);
	background: -o-linear-gradient(left, rgba(99,195,255,1) 0%, rgba(70,8,74,1) 100%);
	background: -ms-linear-gradient(left, rgba(99,195,255,1) 0%, rgba(70,8,74,1) 100%);
	background: linear-gradient(to right, rgba(99,195,255,1) 0%, rgba(70,8,74,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63c3ff', endColorstr='#46084a', GradientType=1 );
	border-radius: 3px;
}

.ps {
	width: 100%;
	animation: animation 2s;
}
.lr {
	width: 100%;
	animation: animation 2s;
}
.pr {
	width: 100%;
	animation: animation 2s;
}
.af {
	width: 100%;
	animation: animation 2s;
}
.au {
	width: 80%;
	animation: animation 2s;
}
.ai {
	width: 100%;
	animation: animation 2s;
}
.in {
	width: 65%;
	animation: animation 2s;
}
.c4d {
	width: 90%;
	animation: animation 2s;
}

.skills2 {
	width: 50%;
	height: auto;
	background-color: #AFCFFA;
	float: right;
	display: inline-block;
	padding-left: 8%;
	padding-right: 8%;
	padding-bottom: 45px;
}

.skills2 h1 {
	margin-bottom: 15px;
	margin-top: 20px;
}

.skills2 p{
	margin-top: 10px;
}

.html {
	width: 100%;
	animation: animation 2s;
}

.css {
	width: 100%;
	animation: animation 2s;
}

.php {
	width: 100%;
	animation: animation 2s;
}

.rp {
	width: 100%;
	animation: animation 2s;
}

.sublime {
	width: 100%;
	animation: animation 2s;
}

.ad {
	width: 80%;
	animation: animation 2s;
}

.wm {
	width: 100%;
	animation: animation 2s;
}

.cel {
	width: 100%;
	animation: animation 2s;
}

.offi {
	width: 100%;
	animation: animation 2s;
}

@keyframes animation{
    0%{
        Width: 0;
    }
}

.down {
	width: 100%;
	height: 120px;
	background-color: rgba(63,112,191,0.8);
	float: left;
}

#contact {
	float: right;
	width: 50%;
	text-align: center;
}

#contact p {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 5px;
	color: #FFFFFF;
}

#hire {
	float: left;
	width: 50%;
	text-align: center;
}

#hire p {
	width: 60%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 25px;
	padding-bottom: 5px;
	color: #FFFFFF;
}

/*Interna Contacto*/

.contacto {
	height: 600px;
	padding: 0px;
}

.titulo4 {
	padding-bottom: 5px;
	font-size: 1.6em;
}

.title2 {
	font-size: 1.2em;
	color: #FFFFFF;
	padding-bottom: 10px;
}

.etiqueta {
	font-size: 1em;
	color: #FFFFFF;
}

.formulario {
	width: 80%;
	height: auto;
	text-align: center;
	color: #FFFFFF;
	margin-left: auto;
	margin-right: auto;
}

.transparency {
	float: right;
	width: 50%;
	height: auto;
	background-color: rgba(1,49,73,0.3);
}

label {
	font-size: 1.1em;
}

input{
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 10px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 3px; 
  border: 3px solid #FFFFFF;
  color: white;
font-weight: bold;
  background-color: transparent;
}

input .consulta{
  border-radius: 5px;
  background-color: #f2f2f2;
  height: 40px;
  padding: 10px;
  text-align: center;
  margin-top: 4px;
  margin-bottom: 3px; 
  border: 3px solid #FFFFFF;
  color: white;
  font-weight: bold;
  background-color: transparent;
}

#fname {
	width: 90%;
}

#apellido {
	width: 90%;
}

#consulta {
	width: 90%;
	border-radius: 5px;
  background-color: #f2f2f2;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  border: 3px solid #FFFFFF;
  background-color: rgba(255,255,255,0.2);
  color: #FFFFFF;
  font-weight: bold;
  text-align: center;
}

input[type=image] {
  width: 10%;
  padding:0px;
  background-color: transparent;
  cursor: pointer;
  border: 0px transparent;
}

#pregunta {
	margin-top: 10px;
	padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    width: 90%;
    border: 3px solid #FFFFFF;
    background-color: rgba(255,255,255,0.2);
    border-radius: 5px;
    text-align: center;
    font-family: 'Lato';
    font-weight: 900;
}

textarea {
	color: #ffffff;
}

/*Animacion contacto*/

.pulse {
  animation: pulse_2186 1s ease infinite;
  transform-origin: 50% 50%;
}

@keyframes pulse_2186 {
  0% { transform: scale(1) }
  100% { transform: scale(0.95) }
}

.send {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 40px;
	padding: 0px;
}

/* STEPS */
.container{
  width: 80%;
  background: #fff;
  text-align: center;
  border-radius: 5px;
  padding: 15px 30px 10px 30px;
  margin-left: auto;
  margin-right: auto;
}
.container h1{
  font-size: 2.5em;
}
.container h2{
  font-size: 1.5em;
}
.container .form-outer{
  width: 100%;
  overflow: hidden;
}
.container .form-outer form{
  display: flex;
  width: 400%;
}
.form-outer form .page{
  width: 25%;
  transition: margin-left 0.3s ease-in-out;
}
.form-outer form .page .title{
  text-align: left;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 1.45em;
  font-weight: 500;
}
.field{
  width: 90%;
  height: 45px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 10px;
}
.label{
	text-align: left;
}
form .page .field input{
  height: 100%;
  width: 100%;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 15px;
  font-size: 1em;
}
form .page .field select{
  width: 100%;
  padding-left: 10px;
  font-size: 0.95em;
  font-weight: 500;
}

form .page .field .button{
  width: 40%;
  display: inline-block;
  height: auto;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #d33f8d;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: 0.5s ease;
}
form .page .field button:hover{
  background: #000;
}

.first { /*PRIMER BOTON DE NEXT */
	width: 100%;
	height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
  background: #d33f8d;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  text-transform: uppercase;
  transition: 0.5s ease;
}

form .page .btns button.prev{
	display: inline-block;
	margin-right: 5px;
  font-size: 0.9em;
  width: 47%;
  display: inline-block;
  height: auto;
}
form .page .btns button.next{
  margin-left: 5px;
  display: inline-block;
  font-size: 0.9em;
  width: 47%;
  display: inline-block;
  height: auto;
}
.container .progress-bar{
  display: flex;
  margin: 15px 0;
  user-select: none;
}
.container .progress-bar .step{
  text-align: center;
  width: 100%;
  position: relative;
}
.container .progress-bar .step p{
  font-weight: 500;
  font-size: 0.9em;
  color: #000;
  margin-bottom: 8px;
}
.progress-bar .step .bullet{
  height: 30px;
  width: 30px;
  border: 2px solid #000;
  display: inline-block;
  border-radius: 50%;
  position: relative;
  transition: 0.2s;
  font-weight: 500;
  font-size: 1em;
  line-height: 25px;
  z-index: 100;
  background-color: #FFFFFF;
}
.progress-bar .step .bullet.active{
  border-color: #d43f8d;
  background: #d43f8d;
}
.progress-bar .step .bullet span{
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}
.progress-bar .step .bullet.active span{
  display: none;
}
.progress-bar .step .bullet:before,
.progress-bar .step .bullet:after{
  position: absolute;
  content: '';
  bottom: 11px;
  left: 26px;
  height: 3px;
  width: 75px;
  background: #262626;
  z-index: 90;
}
.progress-bar .step .bullet.active:after{
  background: #d43f8d;
  transform: scaleX(0);
  transform-origin: left;
  animation: animate 0.3s linear forwards;
  z-index: 94;
}
@keyframes animate {
  100%{
    transform: scaleX(1);
  }
}
.progress-bar .step:last-child .bullet:before,
.progress-bar .step:last-child .bullet:after{
  display: none;
}
.progress-bar .step p.active{
  color: #d43f8d;
  transition: 0.2s linear;
  z-index: 98;
}
.progress-bar .step .check{
  position: absolute;
  left: 50%;
  top: 70%;
  font-size: 15px;
  transform: translate(-50%, -50%);
  display: none;
  z-index: 102;
}
.progress-bar .step .check.active{
  display: block;
  color: #fff;
  z-index: 101;
}


/* VALIDACION DE STEPS */

.textdanger {
	font-size: 0.7em;
	color: red;
	text-align: left;
}

/* SECCION CONTACTO (LOADING ANIMATION) 

.loading {
	display: block;
}

.percent {
	color: #FFFFFF;
	font-size: 0.9em;
	text-align: right;
	display: inline-block;
	float: right;
}

.progress-bar {
	width: 400px;
	height: 20px;
	border-radius: 13px;
	box-sizing: border-box;
	padding-top: 15px;
	margin-left: auto;
	margin-right: auto;
}
.progress {
	width: 10px;
	height: 15px;
	background-color: #46084A;
	border-radius: 13px;
}

.text{
  display: inline-block;
  color: #FFFFFF;
  font-size: 0.9em;
  letter-spacing: 1px;
  display: none;
  margin-left: 40px;
}

.text-blink{
  animation: animate .7s ease-in-out .1s;
}

@keyframes animate {
  0%{
    opacity: 1;
  }
  50%{
    opacity: 0.2;
  }
  100%{
    opacity: 1;
  }
}

*/


/*CARD FOR CELPHONE*/

#classy {
	width: 100%;
	height: auto;
}

.cv2 {
	width: 40%;
	height: auto;
	padding-top: 30px;
	padding-bottom: 20px;
	display: inline-block;
}

.name2 {
	width: 40%;
	height: auto;
	margin-bottom: 40px;
	margin-left: 20px;
	display: inline-block;
}
.red3 {
  margin-left: 5px;
  margin-right: 5px;
  width: 24px;
  height: auto;
  padding-right: 3px;
  vertical-align: middle;
  opacity: 0.7;
}

.white2 {
	background-color: #E3EDFA;
	height: 50px;
	width: 100%;
	margin-top: 20px;
	padding-top: 10px;
	text-align: left;
}
